.classpath
.project
.settings
target
*~
*.class
*.jar
*.zip
*.orig
*.swp
.directory
.idea
*.iml
extras/export
extras/export/libs
dbs/copy_to_gp.sh
install_into_stage.sh
*.tar.gz
apps/*.so
gpserver/*.so
bin/
